.dialog_item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.dialog_item a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

.dialog_item a.active {
    color: goldenrod;
}

.dialog_item img {
    width: 40px;
    border-radius: 20%;
}