.userPhoto {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
}

.userName {
    text-transform: capitalize;
}

.userCity a {
    text-transform: capitalize;
    text-decoration: none;
    color: aliceblue;
}

.pageCount {
    cursor: pointer;
}

.activePageCount {
    font-weight: bolder;
    color: white;
}