.nav {
    grid-area: n;
    background-color: #282B2F;
}

.nav h2 {
    margin: 100px 0 10px 10px;
    font-size: 40px;
    font-weight: normal;
    color: whitesmoke;
    letter-spacing: 3px;
}

.menu_item {
    margin: 11px 15px;
}

.menu_item a {
    font-size: 1.1rem;
    color: azure;
    text-decoration: none;
}

.menu_item a.activeLink {
    color: coral;
}

.menu_item a:hover {
    color: cadetblue;
}

.menu_item a[href="/settings"] {
    display: block;
    margin-top: 30px;
}

.fav_friends {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: azure;
    justify-content: space-around;
}

.fav_friends figure {
    width: 60px;
    margin-bottom: 10px;
}

.fav_friends img {
    width: 40px;
}