.nav {
    grid-area: n;
    background-color: #282B2F;
}

.ul {
    list-style: none;
    margin: 20px 15px;
}

.ul li {
    margin: 10px 0;
}

.ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: azure;
}


.ul li a:hover {
    color: cadetblue;
}