* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282B2F;
    color: lightgrey;
}

.app-wrapper {
    margin: 0 auto;
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
            "h h"
            "n c";
}

.app-wrapper-header {
    grid-area: h;
}

.app-wrapper-navbar {
    grid-area: n;
}

.app-wrapper-content {
    grid-area: c;
}