* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
}

.app-wrapper {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 3fr 10fr;
    grid-template-areas: "h h" "n c";
}

.app-wrapper-content {
    grid-area: c;
    background-color: slategrey;
}